/*SELETOR UNIVERSAL - RESET BÁSICO*/
*{
    margin:0; /*ZERANDO AS MARGEMS- TODOS OS LADOS*/
    padding:0; /*ZERANDO OS ESPAÇAMENTOS INTERNO - TODOS OS LADOS*/
    box-sizing: border-box; /*ALTERA COMO O NAVEGADOR CALCULA A LARGURA E ALTURA DO ELEMENTO*/

}
/*ELEMENTO BODY*/
body{
    background: #f4f4f4; /*COR DE FUNDO*/
}
/*ID CONTAINER*/
#container{
    display: flex;/*DEIXA O CONTEUDO UM DO LADO DO OUTRO FLEXIVEL*/
    flex-direction: column; /*AO DIMENSIONAR A PAGINA VAI COLOCANDO O CONTEUDO EM COLUNA*/
    min-height: 100vh; /*DEFINE UMA ALTURA MINIMA DE UM ELEMENTO QUE DEVE SER IGUAL A 100% DA PAGINA*/
}
/*ELEMENTO HEADER*/
header{
    background: #000;/*COR DE FUNDO*/
    color:#fff;/*COR DA FONTE*/
    padding: 20px;/*ESPÇAMENTO INTERNO EM TODOS OS LADOS*/
    display: flex;/*DEIXA O CONTEUDO UM DO LADO DO OUTRO FLEXIVEL*/
    justify-content: space-around;/*JUSTIFICA O CONTEUDO AO CENTRO */
}
/**/
header nav ul{
    list-style: none;/*REMOVE AS BOLINHAS DA LISTA NÃO ORDENADAS*/
    padding: 0;/*ZERA O ESPAÇMENTO INTERNO */
            /* top,bottom E right,left  */
    margin: 10px 0;/**/
    display: flex;/*DEIXA O CONTEUDO UM DO LADO DO OUTRO FLEXIVEL*/
   
}
/*ELEMENTOS*/
header nav ul li a{
    color:#fff;/*COR DA FONTE*/
    text-decoration: none;/* REMOVE A LINHA ABAIXO DO TEXTO*/
    text-transform: uppercase;/*DEIXA O TEXTO EM MAIUSCULO*/
    padding: 5px 10px;/* TOP,BOTTOM E RIGHT,LEFT */
}
/*ELEMENTO COM ELEMENTO COM EFEITO*/
header nav ul li a:hover{
    text-decoration: underline 5px greenyellow; /*COLOCAR UM LINHA COM A COR VERDE AO PASSAR O MOUSE*/
}

#conteudo{
    display: grid; /*TRANSFORMA UM ELEMENTO EM UM CONTAINER DE GRADE, ORGANIZADO OS ELEMENTOS EM LINHAS E COLUNAS*/
    grid-template-columns: 1fr 200px; /*DIVIDE EM UMA COLUNA  COM 1 FRAÇÃO DE LARGURA E 200px de ALTURA*/
    gap:20px; /*ESPAÇAMENTO ENTRE OS ELEMENTOS DE 20PX*/
    
}

/*ELEMENTO MAIN*/
main{
    display: flex;/*DEIXA O CONTEUDO UM DO LADO DO OUTRO FLEXIVEL*/
    flex-wrap: wrap; /*PERMITE QUE OS ITEMS FLEXIVEIS QUEBREM DE LINHA SE NÃO HOUVER ESPAÇO NA MESMA LINHA */
    justify-content: center; /*JUSTIFICA O CONTEUDO AO CENTRO*/

}
/*CLASS PRODUTO*/
.produto{
    width: 200px;/*LARGURA de 200px*/
    height: 400px; /*ALTURA de 400px*/
    margin: 20px;/*MARGEM EM TODOS OS LADOS DE 20px*/
    padding: 20px;/*ESPAÇAMENTO INTERNO EM TODOS OS LADOS DE 20px*/
    border: 1px solid #ddd;/*CRIA UMA BORDA COM 1px de ESPESSURA COM A COR CINZA*/
    background-image: linear-gradient(#021b2b,#784ba0,#6a1d49);/*FAZ UM DEGRADE NO FUNDO DO CARD*/
    color:#fff;/*COR DA FONTE*/
    border-radius: 30px;/* DEIXA O CARD COM AS BORDAS ARRENDODAS*/
}
/*CLASS PRODUTO E ELEMENTO IMG*/
.produto img{
    max-width: 100%;/* MAXIMO DE LARGURA DA IMAGEM*/
    height: auto;/* ALTURA AUTOMATICA, MAS PODE COLOCAR EM PX EX: 400px*/
    margin-bottom: 10px;/*MARGEM INFERIOR DE 10PX*/
}
/*CLASS PRECO*/
.preco{
    font-weight: 700;/*DEIXAR O TEXTO EM NEGRITO*/
    margin-top: 50px;/*ESPAÇO SUPERIOR DE 50PX*/
    color:aqua;/*COR DA FONTE*/
    font-size: 1.7rem;/*TAMANHO DA FONTE DE 1.7 -Rem é uma unidade de medida relativa em CSS que se baseia no tamanho da fonte do elemento raiz da  página */
}
/*ELEMENTO BUTTON*/
button{
    background: aquamarine;/*COR DO FUNDO*/
    margin-top: 30px;/*MARGEM SUPERIOR DE 30px*/
    padding: 15px 45px;/*ESPAÇAMENTO DE 15PX (SUPERIOR e INFERIOR) E 45px ( DIREITA e ESQUERDA)*/
    border-radius: 20px;/*DEIXA OS CANTOS DAS BORDAS ARRENDODAS*/
    cursor: pointer;/*AO COLOCAR O MOUSE EM CIMA DO BOTÃO VIRA UMA MÃOZINHA*/
}

/*ELEMENTO BOTTOM COM EFEITO*/
button:hover{
    background: #021b2b;/*COR DO FUNDO*/
    color:aqua;/*COR DA FONTE*/
}

/*ELEMENTO ASIDE*/
aside{
    width: 200px;/*LARGURA DE 200px*/
    padding: 10px;/*ESPAÇAMENTO INTERNO EM TODOS OS LADOS DE 10px*/
    background: #f8f8f8;/*COR DE FUNDO*/
}

/*ELEMENTO FOOTER*/
footer{
    background: #021b2b; /*COR DE FUNDO*/
    color:#fff;/*COR DA FONTE*/
    padding: 20px 0;/*ESPAÇAMENTO DE 20PX (SUPERIOR e INFERIOR) E 0 ( DIREITA e ESQUERDA)*/
    margin-top: auto;/*MARGEM SUPERIO AUTOMATICA*/
}
/*CLASS FOOTER-CONTENT*/
.footer-content{
    display: flex;/*DEIXA O CONTEUDO UM DO LADO DO OUTRO FLEXIVEL*/
    justify-content: space-around;/*DEIXA O CONTEUDO AO CENTRO AJUSTADO*/
    max-width: 100%;/*MAXIMO DE LARGURA DE 100%*/
    margin: 0 auto;/*MARGEM 0 ( SUPERIOR E INFERIOR) E AUTOMATICATICO( DIREITA E ESQUERDA)*/
}

/*CLASS FOOTER-CONTENT E h3*/
.footer-content h3{
    margin-bottom: 30px; /*MARGEM INFERIOR DE 30px*/
}
/*CLASS FOOTER-CONTENT E ul*/
.footer-content ul{
    list-style: none;/*REMOVE AS BOLINHAS DA LISTA NÃO ORDENADAS*/
    padding: 0;/*ZERA O ESPAÇMENTO INTERNO DE TODOS OS LADOS*/
}
/*CLASS FOOTER-CONTENT li*/
.footer-content li{
    margin-bottom: 5px;/*MARGEM INFERIOR DE 5px*/
}
/*CLASS FOOTER-CONTENT a*/
.footer-content a{
    color:#ddd;/*COR DA FONTE*/
    text-decoration: none;/*REMOVE AS LINHA ABAIXO DO TEXTO*/
}
/*CLASS DIREITOS*/
.direitos{
    margin-top: 100px;/* MARGEM SUPERIOR DE 100px*/
}
/* RESPONSIVIDADE- QUANDO A PÁGINA CHEGAR A 768px VAI ACONTECER TUDO DENTRO DO BLOCO */

@media(max-width:768px){
    /*ELEMENTO HEADER, NAV E UL*/
    header nav ul{
        display: flex;/*DEIXA O CONTEUDO UM DO LADO DO OUTRO FLEXIVEL*/
        flex-direction: column;/*DEIXA O CONTEUDO EM COLUNA A DIMENSIONAR A PÁGINA*/
        gap:1rem;/*ESPAÇAMENTO ENTRE OS ELEMENTOS DE 1REM*/
        align-items: center;/*ALINHA OS ELEMENTEOS AO CENTRO*/
    }

    header nav ul li{
        width: 300px; /*LARGURA DE 300PX*/
        height: 50px;/*ALTURA DE 50PX*/
        background-image: linear-gradient(#021b2b,#784ba0,#6a1d49); /*COR DE FUNDO COM DEGRADE UTILIZANDO 3 CORES*/
        text-align: center; /*ALINHA O TEXTO AO CENTRO*/
        border-radius: 40px;/*DEIXA A BORDA DO ELEMENTO ARREDONDADAS*/
        font-size: 1.5rem; /*TAMANHO DA FONTE*/   
    }

    header nav ul li a{ 
        display: flex;/*DEIXA O CONTEUDO UM DO LADO DO OUTRO FLEXIVEL*/
        justify-content: center;/*JUSTIFICA O CONTEUDO AO CENTRO*/
        align-items: center;/*ALINHA OS ELEMENTOS */
        color:#fff;/*COR DA FONTE*/
        text-decoration: none;/*REMOVE AS LINHAS ABAIXO DO TEXTO*/
    }
    /*ID CONTEUDO*/
    #conteudo{
        grid-template-columns: 1fr;/*DIVIDE EM UMA COLUNA  COM 1 FRAÇÃO DE LARGURA E 200px de ALTURA*/
    }
    aside{
        display: none;/*OCULPA O ASIDE QUANDO ESTIVER EM MODO RESPONSIVO*/

    }
   
    .footer-content{
        display: flex;/*DEIXA O CONTEUDO UM DO LADO DO OUTRO FLEXIVEL*/
        text-align: center;/*DEIXA O TEXTO AO CENTRO*/
        flex-direction: column;/*DEIXA O CONTEUDO EM COLUNA A DIMENSIONAR A PÁGINA*/
        max-width: 100%;/*MAXIMO DE LARGURA DE 100%*/
        margin: 0 auto;/*MARGEM 0 ( SUPERIOR E INFERIOR) E AUTOMATICATICO( DIREITA E ESQUERDA)*/
      
    }
}